<section class="frames-container">
  <header class="video-header">Sample Video</header>
  <div class="frame-img">
    <div class="resizable-container" #imgContainer [class.empty-placeholder]="!nextFrame">
      <img class="video-frame" #videoFrame>
      <label class="subtitle-text" [hidden]="!subtitleText">{{ subtitleText }}</label>
    </div>
  </div>
</section>
<section class="resize-container">
  <header class="video-header">Size Options</header>
  <div class="resize-options">
    <ul class="options">
      <li class="list-item" [class.active]="size === 'original'" (click)="resizeVideo('original')">
        <img src="./assets/icons/ic-original.svg" class="resize-icon">
        <label class="resize-label">
          <span>Original</span>
          <small></small>
        </label>
      </li>
      <li class="list-item" [class.active]="size === 'landscape'" (click)="resizeVideo('landscape')">
        <img src="./assets/icons/ic-landscape.svg" class="resize-icon">
        <label class="resize-label">
          <span>Landscape</span>
          <small>16:9</small>
        </label>
      </li>
      <li class="list-item" [class.active]="size === 'portrait'" (click)="resizeVideo('portrait')">
        <img src="./assets/icons/ic-portrait.svg" class="resize-icon">
        <label class="resize-label">
          <span>Portrait</span>
          <small>9:16</small>
        </label>
      </li>
      <li class="list-item" [class.active]="size === 'square'" (click)="resizeVideo('square')">
        <img src="./assets/icons/ic-square.svg" class="resize-icon">
        <label class="resize-label">
          <span>Square</span>
          <small>1:1</small>
        </label>
      </li>
    </ul>
  </div>
</section>
<section class="actions-container">
  <button class="btn-play" (click)="!isPlaying ? startVideo() : pauseVideo()">
    <img src="./assets/icons/ic-play.svg">
  </button>

  <input type="text" [readOnly]="isPlaying" [(ngModel)]="subtitleText" class="subtitle-input"
    placeholder="Enter Subtitle Text here">

  <div class="add-frame-actions">
    <label class="file-name" [hidden]="!selectedFile?.name">{{ selectedFile?.name }}</label>
    <div class="actions">
      <button class="btn add-frame" [hidden]="addFrameStep > 1" (click)="clickedAddFrame()">{{ addFrameStep === 1 ?
        'Upload frame' : 'Add a frame' }}</button>

      <input [hidden]="true" type="file" accept="image/*" multiple #selectFiles (change)="onFramesSelected($event)">

      <button class="btn close" [hidden]="!addFrameStep" (click)="cancelAddFrame()">X</button>

      <div class="submit-frame add-frame" [hidden]="addFrameStep < 2">
        <div class="length-input">
          <label>Length</label>
          <input type="number" min="0.1" [(ngModel)]="frameLength">
          <span>secs</span>
        </div>
        <hr>
        <button class="btn-submit" (click)="submitAddFrame()">Add</button>
      </div>
    </div>
  </div>
</section>
